*{
    /* font-family: sans-serif; */
font-family: cursive;
box-sizing: border-box;
display: block;
}

.padding{
    text-align: center;
    border-style: solid;
    background-color: aqua;
}

.text-custom{
    text-align: left;
    background-color: darkgrey;
}

.form-custom{
    display: grid;
    float: right;
}

.fields-custom{
    margin-bottom: 16px;
}

.img{
    width: 220px;
}
