.flex-cont{

    display: flex;
padding: 0;
margin:0;
border: 10px blue solid;
height: 1000px;

flex-direction: row-reverse;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;

}

.flex-item{
     background: chocolate;
     padding: 5px;
     width: 200px;
     line-height: 150px;
     color: azure;
     font-weight: bold;
     font-size: 3em;
     text-align: center;
     border: 1px green solid;
     height: 150px;
}
.flex-item1{
    background: chocolate;
    padding: 5px;
    width: 200px;
    line-height: 150px;
    color: azure;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border: 1px green solid;
    height: 150px;
}

/* .flex-item:nth-child(3n){
    height: 250px;
    line-height: 250px;
} */