.flex-cont{
    padding: 0;
    margin: 0;
    border: 10px blue solid;
    height: 1000px;

    /* Propiedades Flexbox del contenedor*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    /* justify-content: space-between; */
/* flex-grow: 4; */


}

.flex-item{
    background: tomato;
    padding: 5px;
    width: 200px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border: 1px greenyellow solid;
    /* height: 150px; */

    /* Propiedades Flexbox del item*/
    /* flex-grow: 4; */
    /* order: 1; */

}

.flex-item1{
    background: tomato;
    padding: 5px;
    width: 200px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border: 1px greenyellow solid;
    height: 350px;

    /* Propiedades Flexbox del item*/
    flex-grow: 1;
    /* order: 1; */

}

.flex-item:nth-child(2n){
    height: 250px;
    line-height: 250px;
}
